@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.light {
  --background: #f3f4f6;
  --sidebar: #6d28d9;
  --sidebar-active: #a78bfa;
  --card: #fff;
  --accent-pink: #ec4899;
  --accent-cyan: #22d3ee;
  --accent-purple: #6d28d9;
  --text-main: #312e81;
  --text-muted: #64748b;
}
